<mat-card>
  <button mat-raised-button color="primary" class="composeButton" *ngIf="projectOwner" (click)="compose()">Napisz</button>
  <button mat-raised-button color="primary" class="composeButton" *ngIf="!projectOwner"></button>

  <mat-form-field class="title_filter">
    <input matInput placeholder="Temat" [formControl]="formControlSubjectFilter">
    <button mat-button *ngIf="formControlSubjectFilter.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearSubject()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-accordion displayMode="flat" multi class="mat-table">
    <section class="mat-elevation-z2 mat-header-row">
      <span class="mat-header-cell" mat-sort-header="vesselName">Od</span>
      <span class="mat-header-cell" mat-sort-header="vesselId">Data</span>
      <span class="mat-header-cell" mat-sort-header="vesselStatus">Temat</span>
    </section>

    <mat-expansion-panel *ngFor="let message of (messages | filterMessages:formControlSubjectFilter.value)">
      <mat-expansion-panel-header class="mat-row">
        <span class="mat-cell">{{message.from_role}}</span>
        <span class="mat-cell">{{message.created_at}}</span>
        <span class="mat-cell">{{message.subject | filterMessages}}</span>
      </mat-expansion-panel-header>
      <span class="with-newlines" [innerHTML]="message.body"></span>
    </mat-expansion-panel>

  </mat-accordion>

</mat-card>