
<mat-form-field class="nazwa-opis">
    <input matInput (keyup)="applyFilterNameDescription($event.target.value)" placeholder="Nazwa/opis"
           [formControl]="formControlNameDescription">
</mat-form-field>

<mat-form-field class="rok">
    <input matInput placeholder="Rok"
           [formControl]="formControlYear" [matAutocomplete]="autoYear">
    <mat-autocomplete (optionSelected)="applyFilterRok(formControlYear.value)" #autoYear="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptionsYear | async" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<mat-form-field class="technology">
    <input matInput placeholder="Technologia"
           [formControl]="formControlTechnology" [matAutocomplete]="autoTechnology">
    <mat-autocomplete (optionSelected)="applyFilterTechnology(formControlTechnology.value)" #autoTechnology="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptionsTechnology | async" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<mat-checkbox class="mentoring" name="mentoring" (change)="applyFilterMentoring($event.checked)"
              [formControl]="formControlMentoring">
    Mentoring
</mat-checkbox>

<button mat-raised-button color="warn" class="clearButton" (click)="clearFilters()">Wyczyść</button>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column | firstUpper}} </th>
      <td mat-cell *matCellDef="let element">
          <span *ngIf="column === 'mentoring'; else other">
              {{element[column] ? 'Zainteresowany' : 'Niezainteresowany'}}
          </span>
          <ng-template #other>
              <mat-chip-list *ngIf="column === 'technologies'; else last">
                  <mat-chip *ngFor="let language of element[column]">
                      {{language}}
                  </mat-chip>
              </mat-chip-list>
              <ng-template #last>
                  {{element[column]}}
              </ng-template>
          </ng-template>
      </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description">
            {{element.description}}<br /><br />
          <p class="contestants">Uczestnicy: {{element.contestants}}</p>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>