<mat-form-field class="nazwa-opis">
    <input matInput (keyup)="applyFilterNameDescription($event.target.value)" placeholder="Nazwa/opis"
           [formControl]="formControlNameDescription">
    <button mat-button *ngIf="formControlNameDescription.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearNameDescription()">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<mat-form-field class="rok">
    <!--<mat-select placeholder="Rok" [formControl]="formControlYear">-->
    <mat-select placeholder="Rok" (selectionChange)="changeYear()" [(ngModel)] = "year">
        <mat-option *ngFor="let year of allYears" [value]="year.id">
            {{year.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field class="technology">
    <input matInput placeholder="Technologia"
           [formControl]="formControlTechnology" [matAutocomplete]="autoTechnology">
    <button mat-button *ngIf="formControlTechnology.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearTechnology()">
        <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete (optionSelected)="applyFilterTechnology(formControlTechnology.value)" #autoTechnology="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptionsTechnology | async" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<mat-checkbox class="mentoring" name="mentoring" (change)="applyFilterMentoring($event.checked)"
              [formControl]="formControlMentoring">
    Mentoring
</mat-checkbox>

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">
  <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
      <th mat-header-cell *matHeaderCellDef> {{column | firstUpper}} </th>
      <td mat-cell *matCellDef="let element">
          <span *ngIf="column === 'mentoring'; else other">
              <span *ngIf="element.company_name !== null; else mentoring">
                {{element.company_name}}
              </span>
              <ng-template #mentoring>
                {{element[column] ? 'Zainteresowany' : 'Niezainteresowany'}}
              </ng-template>
          </span>
          <ng-template #other>
              <mat-chip-list *ngIf="column === 'technologie'; else last">
                  <mat-chip *ngFor="let language of element[column]">
                      {{language}}
                  </mat-chip>
              </mat-chip-list>
              <ng-template #last>
                  {{element[column]}}
              </ng-template>
          </ng-template>
      </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description with-newlines">{{element.description}}<br /><br />
          <p class="contestants">Uczestnicy:</p>
            <mat-list>
                <mat-list-item *ngFor="let student of element?.students">
                    <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
                    <span *ngIf="student.index_no; else field">
                        {{student.index_no}} - {{student.username}}
                    </span>
                    <ng-template #field>
                        {{student.field === 'informatykal3dz-3apli' ? 'Aplikacje bazodanowe' : 'Tester aplikacji'}}
                    </ng-template>
                </mat-list-item>
            </mat-list>
            <button color="primary" mat-raised-button [routerLink]="'/projekt/' + element.id">Szczegóły</button>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>