<mat-form-field class="nazwa-opis">
    <input matInput (keyup)="applyFilterNameDescription($event.target.value)" placeholder="Nazwa/opis"
           [formControl]="formControlNameDescription">
    <button mat-button *ngIf="formControlNameDescription.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearNameDescription()">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field>

<mat-form-field class="rok">
    <mat-select placeholder="Rok" (selectionChange)="changeYear()" [(ngModel)] = "year">
        <mat-option *ngFor="let year of allYears" [value]="year.id">
            {{year.name}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field class="technology">
    <input matInput placeholder="Technologia"
           [formControl]="formControlTechnology" [matAutocomplete]="autoTechnology">
    <button mat-button *ngIf="formControlTechnology.value" matSuffix mat-icon-button aria-label="Clear" (click)="clearTechnology()">
        <mat-icon>close</mat-icon>
    </button>
    <mat-autocomplete (optionSelected)="applyFilterTechnology(formControlTechnology.value)" #autoTechnology="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptionsTechnology | async" [value]="option">
            {{option}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>

<mat-checkbox class="mentoring" name="mentoring" (change)="applyFilterMentoring($event.checked)"
              [formControl]="formControlMentoring">
    Mentoring
</mat-checkbox>

<mat-checkbox class="featured" name="featured" (change)="applyFilterFeatured($event.checked)"
              [formControl]="formControlFeatured">
    Wyróżnione
</mat-checkbox>

<app-ui-loading *ngIf="!loaded"></app-ui-loading>
<div [class]="loaded ? '' : 'loading'">
    <div class="table-responsive">
        <table mat-table
               [dataSource]="dataSource" multiTemplateDataRows
               class="mat-elevation-z8">
          <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
                <th mat-header-cell *matHeaderCellDef>
                    <span *ngIf="column !== 'featured'">
                        {{column | firstUpper}}
                    </span>
                </th>
              <td mat-cell *matCellDef="let element">
                  <span *ngIf="column === 'featured'; else isMentoring">
                      <span *ngIf="element[column] === 1">
                          <mat-icon>stars</mat-icon>
                      </span>
                  </span>
                  <ng-template #isMentoring>
                      <span *ngIf="column === 'mentoring'; else other">
                          <span *ngIf="element.company_name !== null; else mentoring">
                            {{element.company_name}}
                          </span>
                          <ng-template #mentoring>
                            {{element[column] ? 'Zainteresowany' : 'Niezainteresowany'}}
                          </ng-template>
                      </span>
                  </ng-template>
                  <ng-template #other>
                      <mat-chip-list *ngIf="column === 'technologie'; else last">
                          <mat-chip *ngFor="let language of element[column]">
                              {{language}}
                          </mat-chip>
                      </mat-chip-list>
                      <ng-template #last>
                          {{element[column]}}
                      </ng-template>
                  </ng-template>
              </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="example-element-description with-newlines">{{element.description}}<br /><br />
                  <p class="contestants">Uczestnicy:</p>
                    <mat-list>
                        <mat-list-item *ngFor="let student of element?.students">
                            <mat-icon mat-list-icon>fiber_manual_record</mat-icon>
                            <span *ngIf="student.index_no; else field">
                                {{student.index_no}} - {{student.username}}
                            </span>
                            <ng-template #field>
                                Specjalizacja: {{student.field === 'informatykal3dz-3apli' ? ' Aplikacje internetowe i bazy danych' : ' Tester programista'}}
                            </ng-template>
                        </mat-list-item>
                    </mat-list>
                    <button *ngIf="element?.students[0]['index_no']" color="primary" mat-raised-button [routerLink]="'/projekt/' + element.id">Szczegóły</button>
                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
              class="example-element-row"
              [class.example-expanded-row]="expandedElement === element"
              (click)="expandedElement = element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>