/* You can add global styles to this file, and also import other style files */
@import "material-theme";
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

mat-toolbar {
  z-index: 1000;
}

.span-button {
  outline: none!important;
  cursor: pointer;
}

button {
  outline: none!important;
}


.fill-space {
  flex: 1 1 auto;
}

.project-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.project-form mat-form-field {
  width: 100%;
}

.with-newlines {
  white-space: pre-wrap;
}

.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}