<mat-toolbar class="tytul" color="primary">
  <mat-toolbar-row>
    Podaj hasło użytkownika
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <form class="container">
    <mat-form-field>
      <input matInput name="password" placeholder="Hasło" type="password"  [(ngModel)]="password" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="checkPassword()">
    Wyślij
  </button>
  <span class="fill-space"></span>
  <button mat-raised-button color="warn" (click)="close()">
    Anuluj
  </button>
</div>
