<mat-list>
  <mat-card>
    <h4>Nazwa projektu</h4>
  </mat-card>
  <mat-card>
    {{projectData?.name}}
  </mat-card>
  <span *ngIf="projectData?.is_owner || projectData?.is_worker">
    <mat-card>
      <h4>Status</h4>
    </mat-card>
    <mat-card>
      {{projectData?.status.name}}<br/><br/>
    </mat-card>
  </span>
  <mat-card>
    <h4>Opis projektu</h4>
  </mat-card>
  <mat-card>
    <span class="with-newlines">{{projectData?.description}}</span>
  </mat-card>
  <mat-card>
    <h4>Link do repozytorium</h4>
  </mat-card>
  <mat-card>
    <a [href]="projectData?.link | url" target="_blank">{{projectData?.link}}</a>
  </mat-card>
  <div *ngIf="projectData?.release_link !== null">
    <mat-card>
      <h4>Link do aplikacji</h4>
    </mat-card>
    <mat-card>
      <a [href]="projectData?.release_link | url" target="_blank">{{projectData?.release_link}}</a>
    </mat-card>
  </div>
  <mat-card>
    <h4>Języki programowania</h4>
  </mat-card>
  <mat-card>
    <mat-chip-list>
      <mat-chip *ngFor="let language of projectData?.languages">
        {{language.name}}
      </mat-chip>
    </mat-chip-list>
  </mat-card>
  <mat-card>
    <h4>Mentoring firmy</h4>
  </mat-card>
  <mat-card>
    <span *ngIf="projectData?.company_name !== null; else mentoring">
      {{projectData?.company_name}}
    </span>
    <ng-template #mentoring>
      {{projectData?.mentoring ? 'Zainteresowanie' : 'Brak zainteresowania'}}
    </ng-template>
    <span *ngIf="projectData?.is_worker && (projectData?.mentoring || projectData?.company_name !== null)">
        <form class="company-form" #myForm="ngForm">
          <mat-form-field>
            <input matInput
                   name="company"
                   placeholder="Nazwa firmy (mentora)"
                   [(ngModel)]="company"
                   required>
          </mat-form-field>
          <button class="set-company-button" mat-raised-button color="primary" (click)="setCompany()" [disabled]="!myForm.form.valid">
            Zapisz
          </button>
          <span *ngIf="projectData?.company_name !== null">
            <button class="delete-company-button" mat-raised-button color="warn" (click)="deleteCompany()">
              Usuń
            </button>
          </span>
        </form>
      </span>
  </mat-card>
  <mat-card>
    <h4>Rok akademicki</h4>
  </mat-card>
  <mat-card>
    {{projectData?.academic_year.name}}
  </mat-card>
  <mat-card>
    <h4>Opiekun</h4>
  </mat-card>
  <mat-card>
    {{projectData?.worker.username}}@inf.ug.edu.pl
  </mat-card>
  <mat-card>
    <h4>Uczestnicy</h4>
  </mat-card>
  <mat-card>
    <app-participants (messageEvent)="refreshData()" [project_id] = "projectData?.id" [status]="projectData?.status" [students]="projectData?.students" [is_owner]="projectData?.is_owner" [is_worker]="projectData?.is_worker" [does_belong]="projectData?.does_belong"></app-participants>
  </mat-card>
</mat-list>