<form class="project-form" #myForm="ngForm" *ngIf="options?.length > 0; else noOption">
    <mat-form-field>
        <mat-select (selectionChange)="checkRequired()" placeholder="Wybierz opcję" name="status" [(ngModel)]="selectedStatus" required>
            <mat-option *ngFor="let option of options" [value]="option.id">
                {{option.value}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <textarea
                style="overflow:hidden"
                matInput name="comment"
                placeholder="Komentarz"
                [matTextareaAutosize]="true"
                [(ngModel)]="comment"
                [required]="required">
      </textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="send()" [disabled]="!myForm.form.valid">Wyślij</button>
</form>
<ng-template #noOption>
    <h4>Nie możesz nic obecnie zrobić</h4>
    <p>Obecny stan: {{status?.name}}</p>
</ng-template>