<mat-toolbar class="tytul">
    <mat-toolbar-row>
        Logowanie
    </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
    <form class="container">
        <mat-form-field>
            <input matInput placeholder="Login">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Hasło" type="password">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button color="primary" class="table-button bcg-positive" (click)="login()">
        Zaloguj
    </button>
    <span class="fill-space"></span>
    <button mat-stroked-button color="warn" (click)="close()">
        Zamknij
    </button>
</div>
