<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">MENU</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/nowy-projekt" *ngIf="roleName == 'student'" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"><mat-icon>add</mat-icon> Utwórz projekt</a>
      <a mat-list-item routerLink="/moj-projekt" *ngIf="roleName == 'student'" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"><mat-icon>description</mat-icon> Mój projekt</a>
      <a mat-list-item routerLink="/projekty" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"><mat-icon>description</mat-icon> Projekty</a>
      <a mat-list-item routerLink="/pracownik-projekty" *ngIf="roleName == 'worker'" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"><mat-icon>description</mat-icon>Projekty pracownika</a>
      <a mat-list-item routerLink="/panel-administracyjny" *ngIf="roleName == 'worker'" routerLinkActive="activated" [routerLinkActiveOptions]="{exact:true}"><mat-icon>settings_applications</mat-icon>Administracja</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Projekty zespołowe</span>
      <span class="fill-space"></span>
      <button mat-button [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        <span *ngIf="!(isHandset$ | async)">{{username === '' ? 'Niezalogowany' : username}}</span>
      </button>
      <mat-menu #menu="matMenu" class="matMenu">
        <div *ngIf="(isHandset$ | async)" (click)="$event.stopPropagation();" mat-menu-item>
          <span>{{username === '' ? 'Niezalogowany' : username}}</span>
        </div>
        <div mat-menu-item (click)="$event.stopPropagation();">
          <span class="theme-text">Ciemny</span>
          <mat-slide-toggle [(ngModel)]="lightTheme" (change)="onSetTheme()"></mat-slide-toggle>
          <span class="theme-text">Jasny</span>
        </div>
        <div (click)="$event.stopPropagation();showLogin()" *ngIf="!isLoggedIn" mat-menu-item>
          <mat-icon>input</mat-icon>
          <span class="span-button">Zaloguj</span>
        </div>
        <div (click)="$event.stopPropagation();logout()" *ngIf="isLoggedIn" mat-menu-item>
          <mat-icon>power_settings_new</mat-icon>
          <span class="span-button">Wyloguj</span>
        </div>
      </mat-menu>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
