<mat-card>
  <mat-tab-group>
    <mat-tab label="Szczegóły">
      <ng-template matTabContent>
        <app-project-details (messageEvent)="refresh($event)" [projectData]="projectData"></app-project-details>
      </ng-template>
    </mat-tab>
    <mat-tab label="Wiadomości" *ngIf="projectData?.messages">
      <ng-template matTabContent>
        <app-messages (messageEvent)="refresh($event)" [projectOwner] = "projectData?.is_owner" [projectMessages]="projectData?.messages" [projectId]="projectData?.id"></app-messages>
      </ng-template>
    </mat-tab>
    <mat-tab label="Historia" *ngIf="projectData?.history">
      <ng-template matTabContent>
        <app-history [projectHistory]="projectData?.history"></app-history>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="projectData?.is_owner || projectData?.is_worker" label="Zarządzanie">
      <ng-template matTabContent>
        <app-project-management [projectId]="projectData?.id" [projectStatus]="projectData?.status" [projectStudents]="projectData?.students"></app-project-management>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <div *ngIf="!showProject">
    <h4>{{projectData?.body}}</h4>
  </div>
</mat-card>