<link href="https://cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css" rel="stylesheet" />

<mat-toolbar class="tytul" color="primary">
  <mat-toolbar-row>
    Nowa wiadomość
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <form class="container">
    <!--<mat-form-field>-->
      <!--<input matInput type="email" pattern=".+@sigma.ug.edu.pl" name="recipient" placeholder="Do" [formControl]="formControlRecipient" required>-->
    <!--</mat-form-field>-->
    <mat-form-field>
      <input matInput name="title" placeholder="Tytuł" [formControl]="formControlTitle" required>
    </mat-form-field>
    <mat-checkbox name="isPublic" [formControl]="formControlPublic">
      Wiadomość publiczna
    </mat-checkbox>

    <ngx-wig [placeholder]="'Treść wiadomości'" [formControl]="formControlContent"></ngx-wig>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="send()">
    Wyślij
  </button>
  <span class="fill-space"></span>
  <button mat-raised-button color="warn" (click)="close()">
    Anuluj
  </button>
</div>
