<link href="https://cdn.materialdesignicons.com/2.1.19/css/materialdesignicons.min.css" rel="stylesheet" />

<mat-toolbar class="tytul" color="primary">
  <mat-toolbar-row>
    Nowa wiadomość
  </mat-toolbar-row>
</mat-toolbar>
<div mat-dialog-content>
  <form class="container">
    <mat-form-field>
      <input matInput name="to" placeholder="Do" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="title" placeholder="Tytuł" required>
    </mat-form-field>

    <ngx-wig [placeholder]="'Treść wiadomości'"></ngx-wig>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="primary">
    Wyślij
  </button>
  <span class="fill-space"></span>
  <button mat-raised-button color="warn">
    Anuluj
  </button>
</div>
